<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952637010681-lbatkqals5rbdmussugpga9sooqgndcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952637010681-lbatkqals5rbdmussugpga9sooqgndcl</string>
	<key>API_KEY</key>
	<string>AIzaSyDerIA4ExPj-AFro1hWmj1M0Bo-tgvLaeU</string>
	<key>GCM_SENDER_ID</key>
	<string>952637010681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>metla.self.hw26</string>
	<key>PROJECT_ID</key>
	<string>hw26-d5c95</string>
	<key>STORAGE_BUCKET</key>
	<string>hw26-d5c95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952637010681:ios:9c41e49bcc3fd564d22828</string>
	<key>DATABASE_URL</key>
	<string>https://hw26-d5c95.firebaseio.com</string>
</dict>
</plist>